.card {
    height: 300px ;
    border: 0;
}

 .modal-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
.nowrap {
    white-space: nowrap;
}

.backgroundcolor1 {
    background-color: #f8f8ff !important;
}

.backgroundcolor2 {
    background-color: #fff8f8 !important;
}

.backgroundcolor3 {
    background-color: #f8fff8 !important;
}

.backgroundcolor4 {
    background-color: #fcfaf9 !important;
}

.flex1 {
    flex:1;
}

.lineasmax4{
    max-height: 6em;
    overflow: auto;
}

.object-fit-cover{
    object-fit:cover;
}
.h350{
    height:350px;
}

@media screen and (max-width:767px){
    .h350{
        height: 230px ;
    }
}
.fine-border {
    border: 1px solid rgb(193, 193, 193);
}

.fine-border-light{
    border: 1px solid rgb(230, 230, 230);
}
.center\&cover-bg{
    background-size: cover;
    background-position: center;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}
.corner-bottom-right{
    bottom: 20px;
    right: 22px;
}
.size-star-icon {
    width: 52px;
    height: 52px;
}
.boton-activo:hover,
.boton-activo:active,
.boton-activo:focus,
.boton-activo {
    background-color: #ffd92b;
    border-color: #af8e00;
}

.boton-desactivado:hover,
.boton-desactivado:active,
.boton-desactivado:focus,
.boton-desactivado {
    background-color: #eaeaea;
    border-color: #afafaf;
}

.logo-size {
    height : 100px;
    width: 264px;
}


p{
    margin:0;
}

html, body {
    height: 100%;
    margin: 0;
}



body {

    background-size: contain;
    background: linear-gradient(rgb(255, 253, 253), rgb(255, 241, 235)) no-repeat fixed bottom;
    display: flex;
    flex-direction: column;
}


.border-dark-gray {
    border-color: #c5c5c5 ;
}

.pagination {

}